<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <script
      src="https://kit.fontawesome.com/13f8dfd7db.js"
      crossorigin="anonymous"
    >
</script>
    <!-- <link rel="stylesheet" href="/slideshow.css"> New stylesheet for slideshow -->
    <style>
        * {

            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;

        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
            margin-bottom: 50px;
            margin-top: 100px;

        }
    </style>

    
</head>