<style>
/* Navigation Styles */
.navigation {
    position: fixed;
    margin-top: 0;
    right: 0; /* Align to the right side */
    width: 100%;
    height: 70px; /* Adjust the height as needed */
    background: linear-gradient(to right, #4CAF50, #272a2b);
}

.navigation a:hover {
    text-decoration: underline; /* Underline on hover */
}

ul {
    list-style-type: none;
}
.logo {
    display: inline;
    color: white;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 450px;
}

li{
    display: inline;
    margin-left: 40px;
    
}

li a {
    color: white;
    text-decoration: none;
}
</style>
<nav class="navigation">
    <ul>
        <h1 class="logo">UrbanExpress</h1>
        <li><a href="/" class="login-page">Home</a></li>
        <li><a href="/Login" class="login-page">Login</a></li>
        <li><a href="/contact" class="contacts-page">Contact Us</a></li>
        <li><a href="/about" class="contacts-page">About Us</a></li>
    </ul>
</nav>