<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <header>
        <h1 class="logo">UrbanExpress</h1>
        <nav class="navigation">
            <button><a href="/" class="login-page">Home page</a></button>
            
        </nav>
    </header>
    <form action="/login" method="post">
        <h2>Login</h2>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="Login">

        
</body>
</html>